body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Muli', sans-serif;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/***********css Animation*********/
header {
    padding: 0;
}

header nav#topBar {
    padding: 0 0 0 25px;
}

.navbar-brand {
    /*padding: 0 0;*/
}

.navbar-brand img {
    max-height: 55px;

}

header nav#topBar .logout-btn {
    background-color: transparent;
    height: 65px;
    border-left: 1px solid #cccccc;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 0;
    padding: 0 20px 0 25px;
    font-size: 16px;
}

header nav#topBar .logout-btn:focus {
    outline: 0;
    box-shadow: none;
}

header .navbar-toggler:focus {
    outline: 0
}

header .navbar-toggler {
    margin: 5px 0 5px 25px;
}

/*******tab menu*********/
.bg-tab-menu {
    background-color: #f4f7f6 !important;
}

nav.tab-menu.navbar {
    padding: 0;
    border: 1px solid #dee2e6;
}

nav.tab-menu.navbar ul {
    width: 90%;
    display: flex;
    margin: auto;
}

nav.tab-menu.navbar ul li {
    flex: 1;
    position: relative;
    overflow: visible;
}

nav.tab-menu.navbar ul li:after {
    content: '';
    height: 37px;
    width: 36px;
    background-color: #f4f7f6;
    position: absolute;
    top: 7px;
    right: -18px;
    transform: rotate(45deg);
    border-radius: 0 0 0 68px;
    border-right: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    z-index: 99;
}

nav.tab-menu.navbar ul li:hover:after,
nav.tab-menu.navbar ul li.active:after {
    background-color: #1d5479;
    border-color: #1d5479;

}

nav.tab-menu.navbar ul li:hover,
nav.tab-menu.navbar ul li.active {
    background-color: #1d5479;
}

nav.tab-menu.navbar ul li:last-child:after {
    display: none;
}

nav.tab-menu.navbar ul li a.nav-link {
    color: #1d5479;
    font-weight: 800;
    font-size: 18px;
    text-transform: capitalize;
    padding: 12px 0 12px 35px;
}

nav.tab-menu.navbar ul li:first-child a.nav-link {
    border-left: 1px solid #dee2e6;
    padding-left: 15px;
}

nav.tab-menu.navbar ul li:last-child a.nav-link {
    border-right: 1px solid #dee2e6;
}

nav.tab-menu.navbar ul li:hover a.nav-link,
nav.tab-menu.navbar ul li.active a.nav-link {
    color: #ffffff;
}

nav.tab-menu.navbar ul li a.nav-link:hover {
}

nav.tab-menu.navbar {
}

/*********additional-option style********/
.additional-option {
    border: 1px solid rgba(179, 185, 191, 0.5);
    padding: 15px;
    margin: 20px 0;
}

.additional-option .details {
    margin-bottom: 40px;
    font-weight: 600;
}

.additional-option .details h2 {
    font-weight: 700;
    margin: 15px 0 30px 0;
}

.all-options .option {
    border-top: 1px solid #ddd;
    padding: 10px 15px;
}

.all-options .option h5 {
    font-weight: 700;
    color: #1d5479;
    padding-top: 5px;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-size: 18px;
}

.all-options .option h6 {
    font-weight: 600;
    opacity: 0.9;
    font-size: 16px;
    color: rgba(10,26,40, 1);
}

.all-options .option p {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    color: rgba(18, 18, 18, 0.8);
}

.all-options .option img {
    max-width: 100%;
}

.all-options .option a {
    color: #1d5479;
    border: 1px solid #ddd;
    padding: 7px 0;
    font-weight: 700;
    font-size: 16px;
    border-radius: 3px;
    margin: 10px 15% 0 0;
    display: inline-block;
    text-align: center;
    width: 130px;
}

.all-options .option a:hover {
    text-decoration: none;
    background-color: #1d5479;
    color: #ffffff;
}

.all-options .option a:hover .normal,
.all-options .option a .hover {
    display: none;
}

.all-options .option a:hover .hover {
    display: block;
}

.all-options .option ul {
    opacity: 0.8;
    list-style-type: lower-roman;
    padding-left: 20px;
    margin: 0;
    font-size: 12px;

}

/****/
.summery {
    border: 1px solid #dddddd;
    margin: 20px 0;
    background-color: #ffffff;
}

.summery h4 {
    background-color: #f4f7f6;
    margin: 0;
    padding: 17px 0;
    font-weight: 700;
}

.summery ul {
}

.summery ul li hr {
    margin: 12px 0;
}

.summery ul li {
    padding: 15px;
}

.summery ul li.top {
    background-color: #dfeef6;
    padding: 20px 15px 20px 15px;
}

.summery ul li.top .line {
    min-height: 10px;

}

.summery ul li .line {
    min-height: 40px;
    display: flex;
}

.summery ul li .left {
    font-weight: 700;
    width: 70%;
    display: inline-flex;
    padding: 0 10px 0 0;
}

.summery ul li .left small {
    margin: 3px 0 0 4px;
    font-weight: 600;
}

.summery ul li .left span {
    display: block;
    opacity: 0.4;

}

.summery ul li .left svg {
    color: #cccccc;
    font-size: 18px;
}

.summery ul li .right {
    width: calc(35% - 5px);
    display: inline;
    text-align: right;
    font-weight: 600;
}

.summery ul li .extra-1 {
    opacity: 0.7;
    font-weight: 600;
    margin-bottom: 15px;
}

.summery ul li.total {
    background-color: #f4f7f6;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
}

.summery ul li.total .left {
    display: inline-block;
}

.summery ul li .line.vtotal .left {
    width: 40%;
}

.summery ul li .line.vtotal .right {
    width: calc(60% - 5px);
    font-weight: 800;
    display: inline-block;
}

.summery ul li .line.vtotal {
    font-size: 22px;
    color: #1d5479;
}

.summery ul li.bottom {
    background-color: #f4f7f6;
}

.summery ul li.bottom button.btn {
    background-color: #ff7f00;
    padding: 7px 26px;
    color: #ffffff;
    text-transform: uppercase;
}

.summery ul li.bottom button.btn:focus,
.summery ul li.bottom button.btn:active {
    outline: 0;
    box-shadow: none;
}

p.extra-2 {
    color: #1d5479;
    font-weight: 600;
}

.back-link {
    text-transform: uppercase;
    color: #1d5479;
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
}

.back-link code {
    font-size: 22px;
    padding-right: 5px
}

.back-link:hover {
    text-decoration: none;
}

/********* Footer **************/
footer {
    width: 100%;
    border-top: 1px solid #dddddd;
    text-align: center;
    line-height: 55px;
}

footer p {
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: rgba(18, 18, 18, 1);

}